/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropify
 *= require trix
 */
@import "trix";
@import "bootstrap";

html,body{
    background-color: #F4F6F8;
    height: 100%
}

.nav_color_light{
    background-color: #EA5F91;
}

.font_white_color{
    color: #fff;
}

.nav_color_dark{
    background-color: #EE4380;
}

.nav_color_mpink{
    background-color: #F67DA8;
}

.button_color_pink{
    background-color: #EE4380;
}

.input_rounded{
    height:50px;
    border-radius: 100%;
}

.center{
    display:flex;
    justify-content: center;
}

.navbar_color_white{
    background-color: #ffffff;
}

.title_font{
    font-family: 'Happy Monkey', cursive;
    font-size: 26px;
}

.subtitle_font{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.button_home_color{
    background-color: #EE4380;
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.login_border_color{
    border-bottom: 5px solid #EF6898;
}

.brand_background_color{
    background-color: #EE4380;
    border-radius: 15%;
    color: #ffffff;
}

