// Place all the styles related to the Mugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title_font{
    font-family: 'Happy Monkey', cursive;
    font-size: 26px;
}

.subtitle_font{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.button_home_color{
    background-color: #EE4380;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.login_border_color{
    border-bottom: 5px solid #EF6898;
}

.brand_background_color{
    background-color: #EE4380;
    border-radius: 15%;
    color: #ffffff;
}