.container
  .row.mt-5
    .col-sm-12.text-right.p-0
      .btn.button_home_color
        = link_to('agregar', new_image_path)
    .card.mt-3
      .card-header
        imagenes
      .card-body
        - @images.each do |image|  
          .row.mt-3.border-top.p-4
            .col-sm-2
              = image_tag url_for(image.image), alt: '', height: '80%', width: '80%', class: 'image_thumbnail'  
            .col-sm-10
              =image.subtitle
                