!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AC
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">  
  %body
    %nav.navbar.navbar-expand-xs.navbar_color_white.shadow-sm.p-0
      .nav-item.ml-4.brand_background_color.p-2
        A&C
      .nav-item.p-3.mr-3.login_border_color
        Login
    .col-xs-12.text-center.p-4
      = image_tag "coffees.svg" 
    .col-xs-12.text-center.mt-3.title_font
      Un café es un abrazo atrapado en una taza
    .col-xs-12.text-center.mt-5.subtitle_font
      Recibe aprecio y gratitud mediante donaciones online
    .col-xs-12.text-center.mt-5
      %button.btn.button_home_color
        = link_to 'crear mi perfil',new_user_registration_path
        
  


